.float-right {
    float: right;
    margin: 2px;
}

.btn-custom {
    background: #666;
    color: #FFF!important;
    text-decoration: none!important;
    border: none;
    border-radius: 3px;
    padding: 10px 5px;
}